@use '../../styles/partials/mixins' as *;

.header {
  display: flex;
  width: 100%;
  height: 5rem;
  background: #5C4742;
  align-items: center;
  justify-content: flex-start;
  @include tablet {
    justify-content: center;
  }
}